<div class="row">
  <div class="col flex justify-content-start gap-3">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Name/PNR/Booking Ref" pInputText  />
    </span>
    <p-button label="Flyhub APISandbox"  styleClass="p-button-outlined p-button-secondary"><i class="pi pi-box mr-3"></i></p-button>
  </div>
  <div class="col flex justify-content-end gap-3">

    <div class="flex justify-content-center gap-2 align-items-center text-white">
      <i class="pi pi-user"></i>
      <a href="#" class="text-decoration-none text-white">Mr Your name</a>
      <i class="pi pi-angle-down mt-1"></i>
    </div>
    <p-button label="Flyhub APISandbox"  styleClass="p-button-outlined p-button-secondary"><i class="pi pi-box mr-3"></i></p-button>
  </div>
</div>
